.swiper-slide img {
  width: 100%;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-n-80);
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--color-n-80);
}
